.footer{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-content: center;

}
.footer__nav{
  display: flex;
  gap: 42px;
  align-items: center;
}

.logo{
  width: 25px;
  height: 25px;
  background-color: #5E81FE;
  border-radius: 50%;
}

.footer__nav nav{
  display: flex;
  gap: 42px;
}

.footer__nav nav a{
  color: #697CA6;
}

.footer__contacts{
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
.footer__contacts i{
  color: #697CA6;
}


.copy{
  display: block;
  margin-left: 160px;
  font-size: 12px;
  color: #AEB8D0;
}

