.banner{
  background: url(/src/assets/images/png/hero_image.svg);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  padding-top: 80px;

&__content {
  @include flex-gap(28px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
&__description{
  @include flex-gap(28px);
  flex-direction: column;
  align-items: center;
}

&__description h3{
  font-size: map-get($font-sizes, "xs");
  color:map-get($colors, "headers-color");
}

&__description h2{
  color:map-get($colors, "headers-color");
  font-size: map-get($font-sizes,"xxl");
  font-weight: 100;
}

&__description p{
  font-size: map-get($font-sizes, "md");
  color:map-get($colors, "main-font-color");
  line-height: 20px;
  width: 45%;
}
}