.banner_eight{
  padding: 170px 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.banner_eight-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

}
.banner_eight-title h3{
  font-size: map-get($font-sizes,"xs");
  color: map-get($font-color,"blue");
}
.banner_eight-title h2{
  font-size: map-get($font-sizes,"xl");
  color: map-get($font-color,"blue");
}

.banner_eight-description-item details{
  margin-bottom: 20px;

}