@mixin create-btn-styles($bg, $font-color, $border-color, $box-shadow-dim: 0 5px 7px -4px) {
  @content;

  background-color: $bg;
  color:  $font-color;
  border-color: $border-color;

  &:focus, &:hover {
    @if $font-color == #fff {
      box-shadow: $box-shadow-dim $bg;
    } @else {
      box-shadow: $box-shadow-dim $font-color;
    }
  }
}


@mixin create-btn-sizes($dimensions, $fs) {
  padding: $dimensions;
  font-size: $fs;
}


@mixin flex-gap($gap: false, $is-flexible: true) {
  @if gap != false {
    gap: $gap;
  }

  @if $is-flexible != false {
    display: flex;
  }
}
